<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">AnimeList</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" id="home_link" aria-current="page" [routerLink]="['/home']"
                        [routerLinkActive]="['active']">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Listas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" id="listaAnime_link" [routerLink]="['/listaAnime']"
                                [routerLinkActive]="['active']">Anime</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/listaManga']"
                                [routerLinkActive]="['active']">Manga</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" [routerLink]="['/listaMod']"
                                [routerLinkActive]="['active']">Modificar listas</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="login_link" [routerLink]="['/login']"
                        [routerLinkActive]="['active']">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="logout_link" [routerLink]="['/logout']" [routerLinkActive]="['active']"
                        (click)="logout()">Logout</a>
                </li>
                <li class="nav-item">
                    <a id="user" class="nav-link disabled"></a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search"
                    [(ngModel)]="criteri" [ngModelOptions]="{ standalone: true }">
                <button class="btn btn-outline-success" (click)="buscar()">Buscar</button>
            </form>
        </div>
    </div>
</nav>